* {
	margin: 0;
	padding: 0;
}
.noflicker {
	-webkit-backface-visibility: hidden;
	-webkit-perspective: 0;
	-webkit-transform: translate3d(0,0,0);
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}
.preload * {
	-webkit-transition: none !important;
	-moz-transition: none !important;
	-ms-transition: none !important;
	-o-transition: none !important;
	transition: none !important;
}
.video-container {
	position: absolute;
	top: 38px;
	bottom: 0;
	left: 0;
	right: 0;
	height: 100%;
	display: none;
	z-index: 401;
}
#myExperience {
	width: 100%;
	height: 550px;
}
.close {
	display: block;
	font-size: 40px;
	cursor: pointer;
	position: absolute;
	z-index: 402;
	background-color: black;
	color: white;
	text-align: right;
	padding-right: 20px;
	width: 460px;
	height: 40px;
	line-height: 40px;
	top: 0px;
	right: 0;
	display: none;
}
#qzad {
	width:480px;
	height:550px;
	position:relative;
	background:  url(http://ads.qz.com/sponsors/cathay_pacific/13-10-22/tablet/img/f1-bg.jpg) 0 0 no-repeat;
	a {
		border:0;
		text-decoration: none;
	}
	.frames{
		position:absolute;
		width:100%;
		top:0;
		bottom:0;
		height:550px;
		opacity: 1;

		&.f1 {
			z-index: 301;

			&.hide {
				opacity: 0;
				-webkit-transition: opacity 2s ease;
				   -moz-transition: opacity 2s ease;
				 	 -o-transition: opacity 2s ease;
						transition: opacity 2s ease;
			}
			.tagline{
				margin:230px auto 0 auto;
				width:390px;
				height: 28px;
				background: url(http://ads.qz.com/sponsors/cathay_pacific/13-10-22/tablet/img/f1-tagline.png) no-repeat center center;
				background-size: 390px 28px;
			}
			.logo{
				width:300px;
				height: 40px;
				margin:228px auto 0 auto;
				background: url(http://ads.qz.com/sponsors/cathay_pacific/13-10-22/tablet/img/logo.png) no-repeat center center;
				background-size: 300px 40px;
			}
		}
		&.f2{
			position: absolute;
			height:100%;
			overflow: hidden;
			z-index: 201;

			.row {
				position:relative;
				left:0;
				width:480px;
				height:275px;

				&.upper {
					div {
						position:absolute;
						top:0;
						left: 480px;
						width:160px;
						height: 275px;
						
						-webkit-transition: all .5s ease;
						   -moz-transition: all .5s ease;
						 	 -o-transition: all .5s ease;
								transition: all .5s ease;

						&.r1-1 {
							background: url(http://ads.qz.com/sponsors/cathay_pacific/13-10-22/tablet/img/f2-r1-thumb1.jpg) no-repeat center center;
							background-size: cover;

							&.show {
								left: 0px;
							}
						}
						&.r1-2 {
							background: url(http://ads.qz.com/sponsors/cathay_pacific/13-10-22/tablet/img/f2-r1-thumb2.jpg) no-repeat center center;
							background-size: cover;

							&.show {
								left: 160px;
							}
						}
						&.r1-3 {
							background: url(http://ads.qz.com/sponsors/cathay_pacific/13-10-22/tablet/img/f2-r1-thumb3.jpg) no-repeat center center;
							background-size: cover;
							background-position: 0px 0px;

							&.show {
								left: 320px;
							}
						}
						&.nigel {
							&.grow {
								width: 480px;
								height: 550px;
								left: 0;
								z-index: 201;

								img {
									right: 18px;
									top: 36px;
									position: absolute;
								}
							}
						}
					}
				}
				&.bottom {
					div {
						position:absolute;
						top:0;
						right: 480px;
						width:160px;
						height: 275px;
						overflow: hidden;
						-webkit-transition: all .5s ease;
						   -moz-transition: all .5s ease;
						 	 -o-transition: all .5s ease;
								transition: all .5s ease;

						&.r2-1 {
							background: url(http://ads.qz.com/sponsors/cathay_pacific/13-10-22/tablet/img/f2-r2-thumb1.jpg) no-repeat center center;
							background-size: cover;

							&.show {
								right: 0px;
							}
						}
						&.r2-2 {
							background: url(http://ads.qz.com/sponsors/cathay_pacific/13-10-22/tablet/img/f2-r2-thumb2.jpg) no-repeat center center;
							background-size: cover;

							&.show {
								right: 160px;
							}
						}
						&.r2-3 {
							background: url(http://ads.qz.com/sponsors/cathay_pacific/13-10-22/tablet/img/f2-r2-thumb3.jpg) no-repeat center center;
							background-size: cover;

							&.show {
								right: 320px;
							}
						}
					}
				}
			}
		}
		&.f3 {
			height:100%;
			overflow: hidden;
			z-index: 301;
			display: none;

			.tagline{
				position:inherit;
				margin: 0 auto;
				top: 25px;
				width: 480px;
				height: 28px;
				background: url(http://ads.qz.com/sponsors/cathay_pacific/13-10-22/tablet/img/f1-tagline.png) no-repeat center center;
				background-size: 390px 28px;
			}
			.vid-container{
				position:relative;
				width: 370px;
				height: 322px;
				margin: 0 auto;
				top:80px;
				
				a {
					display: block;
					width: 100%;
					height: 100%;
					border:0;
				}
			}
			.vid-large{
				height: 206px;
				width: 370px;
				
				a {
					background:  
						url(http://ads.qz.com/sponsors/cathay_pacific/13-10-22/tablet/img/f4-playSymbol.png) center center no-repeat, 
						url(http://ads.qz.com/sponsors/cathay_pacific/13-10-22/tablet/img/f4-thumb-video-large.jpg) 0 0 no-repeat;
					background-origin: 50% 50%;
				}
			}
			.vid-small{
				position:absolute;
				top:223px;
				width: 170px;
				height: 100px;

				a{
					background: 
						url(http://ads.qz.com/sponsors/cathay_pacific/13-10-22/tablet/img/f4-playSymbol-small.png) center center no-repeat, 
						url(http://ads.qz.com/sponsors/cathay_pacific/13-10-22/tablet/img/f4-thumb-video-small.jpg) 0 0 no-repeat;
					background-origin: 50% 50%;
				}
				&:last-child{
					left:195px;
					a{
						background: 
							url(http://ads.qz.com/sponsors/cathay_pacific/13-10-22/tablet/img/f4-playSymbol-small.png) center center no-repeat, 
							url(http://ads.qz.com/sponsors/cathay_pacific/13-10-22/tablet/img/f4-thumb-video-small-right.jpg) 0 0 no-repeat;
						background-origin: 50% 50%;
					}
				}
			}
			.cta{
				position:relative;
				margin: 110px auto 0 auto;
				width: 220px;
			}
			.logo{
				position:inherit;
				margin: 40px auto 0 auto;
				width:100%;
				height: 40px;
				bottom:18px;
				background: url(http://ads.qz.com/sponsors/cathay_pacific/13-10-22/tablet/img/logo.png) no-repeat center center;
				background-size: 298px 40px;
			}
		}
	}
}