
a{
	outline: 0;
	border:0;
	text-decoration: none;
}
img{
	display: block;
	width:100%;
	border:0;
}
.hide{
	display:none;
}
@keyframes fade {
  0% {opacity: 1;}
  100% {opacity: 0;}
}
@-webkit-keyframes fade {
  0%   { opacity: 1; }
  100% { opacity: 0; }
}
@-moz-keyframes fade{
  0%   { opacity: 1; }
  100% { opacity: 0; }
}
@-o-keyframes fade {
  0%   { opacity: 1; }
  100% { opacity: 0; }
}
@keyframes fade {
  0%   { opacity: 1; }
  100% { opacity: 0; }
}
#qzad{
	min-width:720px;
	max-width:1100px;
	height:480px;
	position:relative;
	background:  url(../img/f1-bg.jpg) 0 0 no-repeat;
}
.frames{
	position:absolute;
	width:100%;
	top:0;
	bottom:0;
	height:480px;
	&.hide{
		display: none;
	}
	&.f1{
		.tagline{
			margin:202px auto 0 auto;
			width:44.8181818182%;
			min-width: 552px;
		}
		.logo{
			width:32.9090909091%;
			margin:170px auto 0 auto;
			min-width: 328px;
		}
	}
	&.f2{
		height:100%;
		.row{
			position:relative;
			left:0;
			overflow: hidden;
			width:100%;
			height:240px;
			div{
				position:absolute;
				top:0;
				width:16.6636363636%;
				height: 240px;
				 -webkit-transition: all .5s ease;
				 	-moz-transition: all .5s ease;
				 	 -o-transition: all .5s ease;
						 transition: all .5s ease;
			}
			.thumb{
				display: block;
				height:100%;
				min-width: 183px;
			}
			&.bottom{
				position:relative;
				div{
					// &.r2-6, &.r2-5, &.r2-4{
					// 	right:100%;
					// } 
					right: 100%;
				}
			}
			&.upper{
				div{
					// &.r1-1, &.r1-2, &.r1-3{
					// 	right:100%;
					// } 
					left:-100%;
				}
			}
		}
		&.fade{
			opacity: 0;
			-webkit-animation: fade 0.3s forwards;
				-moz-animation:fade 0.3s forwards;
				 -o-animation: fade 0.3s forwards;
				    animation: fade 0.3s forwards;
		}
	}
	&.f3{
		opacity: 1;
	   -webkit-transition: opacity .75s ease;
	   	   -moz-transition: opacity .75s ease;
	   	    	-o-transition: opacity .75s ease;
	   	   	    transition: opacity .75s ease;
		.photo{
			position: absolute;
			top:0;
			right: 0;
			left: 83%;
			bottom:240px;
			overflow: hidden;
			  -webkit-transition: all 1s ease;
 				 -moz-transition: all 1s ease;
 			 	   -o-transition: all 1s ease;
  					 transition: all 1s ease;
			img{
				opacity: 0;
				height: 97%;
				width: auto;
				margin-left: -25px;
				margin-top: -9px;
			}
			&.anim{
				left:32.9%;
				bottom:0;
				img{
					height: 100%;
					opacity: 1;
					margin-left: 0;
					margin-top: 0;
				}
			}
		}
		.copy{
			position:absolute;
			right: 1.81818181818%;
			top:23px;
			width: 38.7272727273%;
			transition: all 1s ease;
		}
		&.fade{
			opacity: 0;
			-webkit-animation: fade 1s forwards;
			-moz-animation: fade 1s forwards;
			-o-animation:fade 1s forwards;
			animation: fade 1s forwards;
		}
	}
	&.f4{
		position:relative;
		.tagline{
			position:inherit;
			margin: 0 auto;
			top: 45px;
			width: 45.0909090909%;
			min-width: 554px;
		}
		.vid-container{
			position:relative;
			width: 61.8181818182%;
			min-width: 600px;
			height: 253px;
			margin: auto;
			top:72px;
			a{
				display: inline-block;
				width: 100%;
				height: 100%;
				border:0;
			}
		}
		.vid-large{
			height: 100%;
			width: 66.4705882353%;
			min-width: 400px;
			a{
				background:  
					url(../img/f4-playSymbol.png) center center no-repeat, 
					url(../img/f4-thumb-video-large.jpg) 0 0 no-repeat;
				background-size: 50%, 100%;
				background-origin: 50% 50%;
			}
		}
		.vid-small{
			position:absolute;
			right: 0;
			top:0;
			width: 31.6176470588%;
			height: 126px;
			a{
				background: 
					url(../img/f4-playSymbol-small.png) center center no-repeat, 
					url(../img/f4-thumb-small.jpg) 0 0 no-repeat;
				background-size: 50%, 100%;
				background-origin: 50% 50%;
			}
			&:last-child{
				top:134px;
				a{
					background: 
						url(../img/f4-playSymbol-small.png) center center no-repeat, 
						url(../img/f4-thumb-small-bottom.jpg) 0 0 no-repeat;
					background-size: 50%, 100%;
					background-origin: 50% 50%;
				}
			}
		}
		.logo{
			position:inherit;
			margin: 136px auto 0 auto;
			width: 33.4545454545%;
			min-width: 326px;
			bottom:18px;
		}
		.cta{
			position:absolute;
			right: 1.63636363636%;
			bottom: 26px;
			width: 28.6363636364%;
			min-width: 229px;
		}
		.close {
		  display: block;
		  vertical-align: middle;
		  cursor: pointer;
		  position: absolute;
		  z-index: 102;
		  background-color: black;
		  color:white;
		  text-align: center;
		  width: 40px;
		  height: 40px;
		  line-height: 40px;
		  top: 0;
		  right: 0;
		  display: none;
		}
	}
	.video-container {
		  position: absolute;
		  top: 0;
		  bottom: 0;
		  left: 0;
		  right: 0;
		  display: none;
		  span{
		  	display: block;
		  }
	}
	#myExperience {
		  width: 100%;
		  height: 100%;
	}
}
@media screen  and (max-width: 1000px) and (min-width: 871px) {
	.frames{
		&.f4{
			.vid-small{
				height: 107px;
				a{
					height:107px;
				}
				&:last-child{
					top:115px;;
				}
			}
		}
	}
}
@media screen and (min-width: 721px) and (max-width: 870px) {
	.frames{
		&.f2{
			.row{
				width:100%;
				div{
					width:25%;	
					.thumb{
						display: inline-block;
						width: 100%;
						height:100%;
					}
				}
			}
		}
		&.f4{
			.vid-small{
				height: 107px;
				a{
					height:107px;
				}
				&:last-child{
					top:115px;;
				}
			}
			.logo{
				margin-left: 70px;
			}
		}
	}
}
@media screen  and (max-width: 720px) {

	.frames{ 

		&.f2{
			.row{
				width:100%;
				div{
					width:25%;	
					.thumb{
						display: inline-block;
						width: 100%;
						height:100%;
					}
				}
			}
		}
		&#f3{
			.photo{
				position: absolute;
				top:0;
				right: 0;
				left: 83%;
				bottom:240px;
				overflow: hidden;
				  -webkit-transition: all 1s ease;
	 				 -moz-transition: all 1s ease;
	 			 	   -o-transition: all .75s ease;
	  					 transition: all 1s ease;
				img{
					opacity: 0;
					height: 97%;
					width: auto;
					margin-left: -25px;
					margin-top: -9px;
				}
				&.anim{
					left:24.9%;
					bottom:0;
					img{
						height: 100%;
						opacity: 1;
						margin-left: 0;
						margin-top: 0;
					}
				}
			}
		}
		&.f4{
			.vid-small{
				height: 107px;
				a{
					height:107px;
				}
				&:last-child{
					top:115px;;
				}
			}
			.logo{
				margin-left: 60px;
			}

		}
	}
}